<section class="hero is-primary is-medium" style="background-image: url(<%= asset_path 'festival1.jpg' %>);">
  <!-- Hero content: will be in the middle -->
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        나를 위한 바로 그 FESTIVAL
      </h1>
      <h2 class="subtitle">
        그날 그곳에서 열리는 축제를 확인해보세요
      </h2>
    </div>
  </div>
</section>
