<form action="" method="post">
  <div class="field field_search is-horizontal">
    <div class="container container_search">
      <div class="field-body">

        <!-- 언제부터 -->
          <div class="field">
              <p class="control is-expanded has-icons-left">
                <input class="input input_from datepicker" type="text" placeholder="언제부터" name="input_from">
                <span class="icon is-small is-left">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <!-- 언제까지 -->
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input input_to datepicker" type="text" placeholder="언제까지" name="input_to">
                <span class="icon is-small is-left">
                  <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <!-- 어디에서 -->
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input input_where" type="text" placeholder="어디서" name="input_where">
                <span class="icon is-small is-left">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <!-- 어떤축제 -->
            <div class="field">
              <p class="control is-expanded has-icons-left has-icons-right">
                <input class="input input_what" type="text" placeholder="어떤축제" name="input_what">
                <span class="icon is-small is-left">
                  <i class="fa fa-birthday-cake" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control">
                <button class="button is-info">
                  검색
                </button>
              </p>
          </div>
      </div>
    </div>
  </div>
</form>

<script type="text/javascript">
  $( function() {
    $( ".datepicker" ).datepicker({onSelect : function(){
      var from = $('.input_from').val();
      var to = $('.input_to').val();

      if (Date.parse(from) - Date.parse(to) > 0)
        alert('날짜를 다시 선택해주세요');
    }});  
  });
</script>
