<!DOCTYPE html>
<html>
  <head>
    <title>FestivalWithBulma</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- 아이콘 제공 cdn / fontawesome -->
    <script src="https://use.fontawesome.com/32624680fa.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
